/*戻るボタンのデザイン*/
.button_back {
    /* ブラウザ特有のスタイルを無効に */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
  
    /* 整える */
    display: inline;
    width: 10px;
    margin-left: 30px;
    padding: 0.6em 1em; /* 塗りの余白 */
    font-weight: bold;
    background-color: white; /* 背景色 */
    color: black; /* テキストカラー */
    cursor: pointer; /* カーソルを指マークに */
    border-radius: 3px; /* 角の丸み */
    border: 0; /* 枠線を消す */
    transition: 0.3s; /* ホバーの変化を滑らかに */
}


.box1 {
    /* ブラウザ特有のスタイルを無効に */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    width: 300px;
    height: 100px;
    margin-left: 200px;
    padding: 5px;
    cursor: pointer; /* カーソルを指マークに */
    border: solid 2px black;
    background-color: white;
  }

  .box2 {
    /* ブラウザ特有のスタイルを無効に */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    width: 300px;
    height: 100px;
    margin-left: 100px;
    padding: 5px;
    cursor: pointer; /* カーソルを指マークに */
    border: solid 2px black;
    background-color: white;
  }


.yoko-narabi{
    display: flex;
}

/*ボタンの縦並び*/ 
li{
    list-style:none;
    margin-top:50px
  }

  .coupon {
    display: flex;
    width: 400px;
    max-width: 500px;
    background: rgb(165, 171, 242);
    margin-top: 150px;
    margin: 75px;
  }
  .price {
    font-size: 16px;
    font-weight: 900;
    color: #f56359;
  }

  .shop{
    font-size: 14px;
    font-weight: 900;
    color: #f56359;
  }
  
  .date {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
  }
  .left {
    position: relative;
    display: flex;
    flex: 1;
    padding: 10px 20px;
  }
  .right {
    position: relative;
    display: flex;
    width: 100px;
    padding: 40px 20px;
    border-left: 2px dashed #e0e6ef;
    justify-content: center;
  }

  /* circle-css */

.right::before,
.right::after {
  position: absolute;
  display: block;
  content: "";
  border-radius: 100%;
  background: #e0e6ef;
  left: -12px;
  width: 22px;
  height: 22px;
}
.right::before {
  top: -11px;
}
.right::after {
  bottom: -11px;
}

/* オーバレイの技術 */
#overlay{
    position: fixed;
    top:0;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    visibility: hidden;
    opacity: 0;
    background: rgba(0,0,0,0.6);
    transition: all 0.5s ease-out;
  }
  #overlay.overlay-on{
    visibility: visible;
    opacity: 1;
  }
  
  .flex{
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center; 
  }
  #overlay-inner{
    width: 400px;
    height: 200px;
    padding:10px 60px;
    background-color:#FFF;
    text-align:center;
  }

  #open-btn{
    display:block;
    height: 50px;
    width: 200px;
    padding:10px 30px;
    font-size: 1em; /* フォントサイズ */
    background-color:#1aa1ff;
    color: #FFF; /* テキストカラー */
    border:solid #ccc 0px;
    border-radius: 3px; /* 角の丸み */
    cursor: pointer;
  }

  #open-btn:hover {
    background-color: #064fda; /* 背景色 */

  }

  #close-btn{
    display:inline;
    width: 150px;
    height: 40px;
    margin: 20px auto;
    padding: 10px 30px;
    font-size: 1em; /* フォントサイズ */
    background-color: #1aa1ff;
    color: #FFF;
    border:solid #ccc 0px;
    border-radius: 3px; /* 角の丸み */
    cursor: pointer;
  }

  #close-btn:hover {
    background-color: #064fda; /* 背景色 */

  }

  .non{
    margin-left: 100px;
  }