/*戻るボタンのデザイン*/
.button_back {
    /* ブラウザ特有のスタイルを無効に */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
  
    /* 整える */
    display: inline;
    width: 10px;
    margin-left: 30px;
    padding: 0.6em 1em; /* 塗りの余白 */
    font-size: 20px;
    background-color: white; /* 背景色 */
    color: black; /* テキストカラー */
    cursor: pointer; /* カーソルを指マークに */
    border-radius: 3px; /* 角の丸み */
    border: 0; /* 枠線を消す */
    transition: 0.3s; /* ホバーの変化を滑らかに */
  }

  /* ホバー時（カーソルをのせた時）の見た目 */
.button_back:hover {
    background-color: white; /* 背景色 */
  }

 /* 各ラベルの大きさ */
 p {
    font-size: 1.5em;
    margin-left: 200px;
    margin-top: 80px;
}

.event_search{
    width: 700px;
    height: 40px;
    font-size: 1.5em;
    margin-top: 80px;
    margin-left: 200px;
}

.prefectures{
    width: 300px;
    height: 40px;
    font-size: 1.5em;
    margin-left: 200px;
}

.event-day{
    width: 300px;
    height: 40px;
    font-size: 1.5em;
    margin-left: 200px;
}

.kara{
    font-size: 50px;
    margin-left: 100px;
}

.event-day2{
        width: 300px;
        height: 40px;
        font-size: 1.5em;
        margin-left: 100px;
}

