

/*検索ボタン装飾*/ 
.search{
  /* ブラウザ特有のスタイルを無効に */
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  /* 整える */
  height: 80px;
  width: 300px;
  margin: 1em 2em; /* 前後の隙間 */
  padding: 0.2em 1em; /* 塗りの余白 */
  font-size: 2em; /* フォントサイズ */
  background-color: white; /* 背景色 */
  color: black; /* テキストカラー */
  cursor: pointer; /* カーソルを指マークに */
  border-radius: 3px; /* 角の丸み */
  border: 2; /* 枠線を消す */
  border-color: #1aa1ff;
  transition: 0.3s; /* ホバーの変化を滑らかに */
  

}

/* 検索ボタンと投稿を横並びに設定 */
div{
display: flex;
justify-content: flex-start;

}


/*ボタンの縦並び*/ 
li{
  list-style:none;
  padding:16px;
  margin:8px
}

/*ボタンの横配置*/ 
.right {
  text-align: right;
}

/*イベントの情報掲載デザイン*/ 
.event_information{
  background:white; /*背景色の指定*/
  padding:10px;
  height: 400px;
  width:700px;
  position: relative;
 
  }

  /*もっと見るボタンのデザイン*/
.more-see { 
/* ブラウザ特有のスタイルを無効に */
-moz-appearance: none;
-webkit-appearance: none;
appearance: none;


color: gray;
text-decoration: none; 
font-weight: bold;
font-size: 1.1em;
position:absolute;
border: white;
background-color: white;
right: 0;
bottom: 0;
margin-left: 100px;
}



h3{
  margin-left: 60px;
}

.circle {
  width:50px;
  height:50px;
  border: 1px solid;
  border-radius: 50%;
}

.title {
  margin: 0 0 0 20px;
  padding: 0;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

.limit{
  display: -webkit-box; /* 必須 */
-webkit-box-orient: vertical; /* 必須 */
-webkit-line-clamp: 15; /* 行数を制限 */
overflow: hidden; /* はみ出た部分を非表示 */
}

.p_right{
  text-align: right;
}

.yoko{
  display: inline;
}

.non{
  margin-left: 10%;
  margin-right: 20%
}