/*白四角*/
.box1 {
    background:white; /*背景色の指定*/
    padding:80px;
    width: 800px;
    border-radius: 10px;
    }
    .box1 p {
    margin:10;
    padding:0;
    }

  /* 真ん中寄せ */  
section {
        height: 100vh;
        /* 真ん中寄せ */
        display: grid;
        place-items: center;
    }

