
@media screen and (max-width:990px) {
  /*ボタンデザイン 背景：青、文字：白*/
  
  .roundbox{
      background-color: white;
      border: #2392f3 1px solid; /*境界線の指定*/
      border-radius: 10px; /*角丸の指定*/
      padding: 160px;
      margin-top: 400px;
      margin-bottom: 100px;
      width: 60%;
  }

  .less{
    margin-left: 7%;
    margin-top: 5%;
  }

  
}
  
  
  /*パソコン用*/
  @media screen and (min-width:990px) {
    
    .roundbox{
      background-color: white;
      border: #2392f3 1px solid; /*境界線の指定*/
      border-radius: 10px; /*角丸の指定*/
      padding: 160px;
      margin-top: 200px;
      margin-bottom: 100px;
      width: 60%;
  }

  .less{
    margin-left: 7%;
    margin-top: 5%;
  }

  
}
  