/* 各ラベルの大きさ */
p {
    font-size: 2em;
    margin-left: 150px;
    margin-top: 100px;
  }
  
  .plan_search{
    width: 550px;
    height: 70px;
    font-size: 1.5em;
    margin-top: 80px;
    margin-left: 200px;
    border: 2px solid;
  }
  
  /*ボタンデザイン 背景：青、文字：白*/
  .button-only {
    /* ブラウザ特有のスタイルを無効に */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
  
    /* 整える */
    width: 400px;
    height: 100px;
    margin: 30px;
    padding: 0.3em 1em; /* 塗りの余白 */
    font-size: 3em; /* フォントサイズ */
    background-color: #1aa1ff; /* 背景色 */
    color: #FFF; /* テキストカラー */
    cursor: pointer; /* カーソルを指マークに */
    border-radius: 3px; /* 角の丸み */
    border: 0; /* 枠線を消す */
    transition: 0.3s; /* ホバーの変化を滑らかに */
    
  }
  
  /* ホバー時（カーソルをのせた時）の見た目 */
  .button-only:hover {
    background-color: #064fda; /* 背景色 */
  }

  .title{
    width: 600px;
    height: 80px;
    font-size: 2em;
    padding: 0.5em;
    border: 2px solid #006DD9;
    border-radius: 5px;
    margin: 50px;
  }
  
  .cost {
    width: 300px;
    height: 60px;
    font-size: 1.5em;
    padding: 0.5em;
    border: 2px solid #006DD9;
    border-radius: 5px;
  }
  
  .stay-from {
    width: 300px;
    height: 60px;
    font-size: 1.5em;
    padding: 0.5em;
    border: 2px solid #006DD9;
    border-radius: 5px;
  }
  
  .stay-to {
    width: 300px;
    height: 60px;
    font-size: 1.5em;
    padding: 0.5em;
    border: 2px solid #006DD9;
    border-radius: 5px;
  }
  
  .region-select {
    width: 300px;
    height: 80px;
    font-size: 1.2em;
    border: solid 2px #006DD9;
    background-color: white;
    border-radius: 5px;
  }
  
  .pref-select {
    width: 300px;
    height: 80px;
    font-size: 1.2em;
    border: solid 2px #006DD9;
    background-color: white;
    border-radius: 5px;
  }
  
  
    /* ラジオボタン */
    input[type=radio] {
      display: none;
    }
      
    label {
      display: block; /* ブロックレベル要素化する */
      float: left; /* 要素の左寄せ・回り込を指定する */
      margin: 2px; /* ボックス外側の余白を指定する */
      width: 300px; /* ボックスの横幅を指定する */
      height: 70px; /* ボックスの高さを指定する */
      padding: 5px;
      font-size: 1.8em;
      color: #006DD9; /* フォントの色を指定 */
      text-align: center; /* テキストのセンタリングを指定する */
      line-height: 70px; /* 行の高さを指定する */
      cursor: pointer; /* マウスカーソルの形（リンクカーソル）を指定する */
      border: 2px solid #006DD9;/* ボックスの境界線を実線で指定する */
      border-radius: 5px; /* 角丸を指定する */
    }
  
    input[type="radio"]:checked + label {
      background: #006DD9;
      color: #FFF;
    }
  
    label:hover {
      background-color: #E2EDF9;
    }

    .button_back {
      /* ブラウザ特有のスタイルを無効に */
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
    
      /* 整える */
      display: inline;
      width: 10px;
      margin-left: 30px;
      padding: 0.6em 1em; /* 塗りの余白 */
      font-weight: bold;
      background-color: white; /* 背景色 */
      color: black; /* テキストカラー */
      cursor: pointer; /* カーソルを指マークに */
      border-radius: 3px; /* 角の丸み */
      border: 0; /* 枠線を消す */
      transition: 0.3s; /* ホバーの変化を滑らかに */
    }
  
    h3{
    
      font-size: 3em;
    }
    
    .button_back:hover {
      background-color: #ffffff; /* 背景色 */
    }

    .screenname{
      margin-left: 20%;
    }
  