/*パソコン用*/
@media screen and (min-width:990px) {
  .button_back {
    /* ブラウザ特有のスタイルを無効に */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
      
    /* 整える */
    display: inline;
    width: 10px;
    margin-left: 30px;
    padding: 0.6em 1em; /* 塗りの余白 */
    font-size: 1.2em;
    background-color: white; /* 背景色 */
    color: black; /* テキストカラー */
    cursor: pointer; /* カーソルを指マークに */
    border-radius: 3px; /* 角の丸み */
    border: 0; /* 枠線を消す */
    transition: 0.3s; /* ホバーの変化を滑らかに */
  }
    
  /* ホバー時（カーソルをのせた時）の見た目 */
  .button_back:hover {
    background-color: white; /* 背景色 */
  }
    
  h3 {
    margin-left: 0;
    font-size: 1em;
  }
    
  /*ボタンデザイン 枠線：青、背景：白、文字：黒*/
  .coupon {
    /* ブラウザ特有のスタイルを無効に */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    
    /* 整える */
    width: 600px;
    margin: 1.5em 0; /* 前後の隙間 */
    padding: 0.6em 1em; /* 塗りの余白 */
    font-size: 2em; /* フォントサイズ */
    background-color: #1aa1ff; /* 背景色 */
    color: white; /* テキストカラー */
    cursor: pointer; /* カーソルを指マークに */
    border-radius: 3px; /* 角の丸み */
    border: 0; /* 枠線を消す */
    transition: 0.3s; /* ホバーの変化を滑らかに */
  }
  
  /* ホバー時（カーソルをのせた時）の見た目 */
  .coupon:hover {
    background-color: #064fda; /* 背景色 */
  }

  .pics {
    margin-left: 60px;
  }

  .less{
    margin-top: 5%;
    margin-left: 6%;
  }
}
  
/*スマホ用*/
@media screen and (max-width:990px) {
  /*戻るボタンのデザイン*/
  .button_back {
    /* ブラウザ特有のスタイルを無効に */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
      
    /* 整える */
    display: inline;
    width: 10px;
    margin-left: 30px;
    padding: 0.5em 0.5em; /* 塗りの余白 */
    font-weight: bold;
    background-color: white; /* 背景色 */
    color: black; /* テキストカラー */
    cursor: pointer; /* カーソルを指マークに */
    border-radius: 3px; /* 角の丸み */
    border: 0; /* 枠線を消す */
    transition: 0.3s; /* ホバーの変化を滑らかに */
  }
    
  .coupon {
    /* ブラウザ特有のスタイルを無効に */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
      
    /* 整える */
    width: 600px;
    margin: 1.5em 0; /* 前後の隙間 */
    padding: 0.6em 1em; /* 塗りの余白 */
    font-size: 2em; /* フォントサイズ */
    background-color: #1aa1ff; /* 背景色 */
    color: white; /* テキストカラー */
    cursor: pointer; /* カーソルを指マークに */
    border-radius: 3px; /* 角の丸み */
    border: 0; /* 枠線を消す */
    transition: 0.3s; /* ホバーの変化を滑らかに */  
  }
    
  /* ホバー時（カーソルをのせた時）の見た目 */
  .coupon:hover {
    background-color: #064fda; /* 背景色 */
  }

  h3{
    margin-left: 0;
    font-size: 3em;
  }

  .less{
    margin-top: 5%;
    margin-left: 7%;
  }
}