/*パソコン用*/
@media screen and (min-width:990px) {
  h3{
      margin-left: 0;
      font-size: 1em;
    }
}


/*スマホ用*/
@media screen and (max-width:990px) {
  /*戻るボタンのデザイン*/ 
      .circle {
        width: 200px;
        height: 200px;
        border: 1px solid;
        border-radius: 50%;
      }

      /* ユーザ名とアイコンの横並び */
      div.yoko{
        display: flex;
      }


      .title {
        margin: 0 0 0 20px;
        padding: 0;
        font-weight: bold;
        font-size: 40px;
        text-align: center;
      }
    
    /*計画の情報掲載デザイン*/ 
    .all_information{
        padding: 10px;
        background:white; /*背景色の指定*/
        width:94%;
        position: relative;
        border: solid medium #dae5f8;
        margin-bottom: 5px;
        }
    
    /*もっと見るボタンのデザイン*/
    .more-see { 
        color: gray;
        text-decoration: none; 
        font-weight: bold;
        font-size: 1.1em;
        position:absolute;
        right: 0;
        bottom: 0;
        margin-left: 100px;
        }
    
    .list{
        list-style:none;
    }

    .right{
      text-align: right;
    }

    .btn {
      background-color: white;
      border: 0;
    }

    .circle {
      width:100px;
      height:100px;
      border: 1px solid;
      border-radius: 50%;
      margin-left: 20px;
    }

    .pref {
      text-align: center;
      font-size: 1.5em;
    }

    .box {
      height: 180px;
      border: 0;
    }

    ul {
      list-style: none;
    }
}