/*パソコン用*/
@media screen and (min-width:990px) {
  /*戻るボタンのデザイン*/
  .button_back {
    /* ブラウザ特有のスタイルを無効に */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
  
    /* 整える */
    display: inline;
    width: 10px;
    margin-left: 30px;
    padding: 0.6em 1em; /* 塗りの余白 */
    font-weight: bold;
    background-color: white; /* 背景色 */
    color: black; /* テキストカラー */
    cursor: pointer; /* カーソルを指マークに */
    border-radius: 3px; /* 角の丸み */
    border: 0; /* 枠線を消す */
    transition: 0.3s; /* ホバーの変化を滑らかに */
  }
  
  /*イベントの情報掲載デザイン*/ 
  .event_information{
    background:white; /*背景色の指定*/
    padding:10px;
    border: solid medium #dae5f8;
    width:900px;
    margin-left: 50px;
  }
  

  
  .title {
    margin: 0 0 0 20px;
    padding: 0;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
  }
    
  /* アイコンとタイトルを横並びに設定 */
  .yoko{
    display: flex;
  }

  .event_info {
    font-size: 1.5em;
  }
    
  /*ボタンの縦並び*/ 
  li {
    list-style:none;
    padding:16px;
    margin:8px
  }
  
  .image{
    width: 40%;
  }
  
  .post_day{
    margin-left: 100px;
  }
  
  a {
    color: black;
  }

  h3 {
    font-size: 3em;
  }

  .box {
    height: 180px;
    border: 0;
  }

  .circle1 {
    width:100px;
    height:105px;
    border: 0;
    border-radius: 50%;
    margin-top: -5px;
    border:solid 10px white;
    }

    .circle {
      width:140px;
      height:145px;
      border: 0;
      border-radius: 50%;
      margin-top: -10px;
      }

      .less{
        margin-top: 5%;
        margin-left: 6%;
      }
}

/*スマホ用*/
@media screen and (max-width:990px) {
  /*戻るボタンのデザイン*/
  .button_back {
    /* ブラウザ特有のスタイルを無効に */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
  
    /* 整える */
    display: inline;
    width: 10px;
    margin-left: 30px;
    padding: 0.6em 1em; /* 塗りの余白 */
    font-weight: bold;
    background-color: white; /* 背景色 */
    color: black; /* テキストカラー */
    cursor: pointer; /* カーソルを指マークに */
    border-radius: 3px; /* 角の丸み */
    border: 0; /* 枠線を消す */
    transition: 0.3s; /* ホバーの変化を滑らかに */
  }
  
  /*イベントの情報掲載デザイン*/ 
  .event_information{
    background:white; /*背景色の指定*/
    padding:10px;
    border: solid medium #dae5f8;
    width:900px;
    margin-left: 20px;
  }
  

  .title {
    margin: 0 0 0 20px;
    padding: 0;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
  }
    
  /* アイコンとタイトルを横並びに設定 */
  .yoko{
    display: flex;
  }

  .event_info {
    font-size: 1.5em;
  }
    
  /*ボタンの縦並び*/ 
  li {
    list-style:none;
    padding:16px;
    margin:8px
  }
  
  .image{
    width: 40%;
  }
  
  .post_day{
    margin-left: 100px;
  }
  
  a {
    color: black;
  }

  h3 {
    font-size: 3em;
  }

  .box {
    height: 180px;
    border: 0;
  }

  .circle1 {
    width:100px;
    height:105px;
    border: 0;
    border-radius: 50%;
    margin-top: -5px;
    border:solid 10px white;
    }

    .circle {
      width:140px;
      height:145px;
      border: 0;
      border-radius: 50%;
      margin-top: -10px;
      }

      .less{
        margin-top: 5%;
        margin-left: 7%;
      }
}