/*パソコン用*/
@media screen and (min-width:990px) {
  .button_back {
    /* ブラウザ特有のスタイルを無効に */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    
    /* 整える */
    display: inline;
    width: 10px;
    margin-left: 30px;
    padding: 0.6em 1em; /* 塗りの余白 */
    font-size: 1.2em;
    background-color: white; /* 背景色 */
    color: black; /* テキストカラー */
    cursor: pointer; /* カーソルを指マークに */
    border-radius: 3px; /* 角の丸み */
    border: 0; /* 枠線を消す */
    transition: 0.3s; /* ホバーの変化を滑らかに */
  }
  
  /* ホバー時（カーソルをのせた時）の見た目 */
  .button_back:hover {
    background-color: white; /* 背景色 */
  }
  
  h3 {
    margin-left: 0;
    font-size: 1em;
  }
  
  .circle {
    width:50px;
    height:50px;
    border: 1px solid;
    border-radius: 50%;
    margin-left: 20px;
  }
  
  .title {
    margin: 0 0 0 20px;
    padding: 0;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
  }
  
  .plan_content {
   font-size: 20px;
  }
  
  .travel_time {
    text-align: center;
    font-size: 20px;
  }
  
  .condition {
    display: inline;
    font-size: 20px;
    margin-left: 100px;
  }
  
  ol {
    font-size: 30px;
    margin-left: 20px;
    list-style: none;
  }
  
  /*計画内の場所の情報掲載デザイン*/ 
  .plan_information{
    background:white; /*背景色の指定*/
    width:92%;
    border: solid thin black;
  }

  ul {
    list-style:none;
    margin-top: 100px;
  }   
}

/*スマホ用*/
@media screen and (max-width:990px) {
/*戻るボタンのデザイン*/
  .button_back {
    /* ブラウザ特有のスタイルを無効に */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    /* 整える */
    display: inline;
    width: 10px;
    margin-left: 30px;
    padding: 0.6em 1em; /* 塗りの余白 */
    font-weight: bold;
    background-color: white; /* 背景色 */
    color: black; /* テキストカラー */
    cursor: pointer; /* カーソルを指マークに */
    border-radius: 3px; /* 角の丸み */
    border: 0; /* 枠線を消す */
    transition: 0.3s; /* ホバーの変化を滑らかに */
  }

  h3 {
    margin-left: 0;
    font-size: 3em;
  }

  .circle {
    width:100px;
    height:100px;
    border: 1px solid;
    border-radius: 50%;
    margin-left: 20px;
  }

  .title {
    margin: 0 0 0 20px;
    padding: 0;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
  }

  .plan_content{
    font-size: 20px;
  }

  .travel_time{
    text-align: center;
    font-size: 20px;
  }

  .condition{
    display: inline;
    font-size: 20px;
    margin-left: 100px;
}

  ol{
    font-size: 40px;
    margin-left: 20px;
    list-style: none;
  }

  /*計画内の場所の情報掲載デザイン*/ 
  .plan_information{
    background:white; /*背景色の指定*/
    width:92%;
    border: solid thin black;
  }

  .box {
    height: 180px;
    border: 0;
  }

  ul {
    list-style: none;
  }

  .favorite {
    background-color: white;
    display: flex;
  }
  
  .unlike {
    width: 90px;
    height: 90px;
    background-color: white;
    border: 0;
    position: relative;
    margin-left: 75%;
  }
  
  .unlike::before {
    content: "";
    position: absolute;
    left: 45px; /* x位置 */
    top: 0; /* y位置 */
    width: 45px; /* 幅 */
    height: 75px; /* 高さ */
    background: #d3d3d3; /* 色 */
    border-radius: 75px 45px 0 0; /* 丸み */
    transform: rotate(-45deg); /* 角度調整 */
    transform-origin: 0 100%; /* 回転の基準点 */
  }
  
  .unlike::after {
    content: "";
    position: absolute;
    left: 0; /* x位置 */
    top: 0; /* y位置 */
    width: 45px; /* 幅 */
    height: 75px; /* 高さ */
    background: #d3d3d3; /* 色 */
    border-radius: 45px 75px 0 0; /* 丸み */
    transform: rotate(45deg); /* 角度調整 */
    transform-origin: 100% 100%; /* 回転の基準点 */
  }
  
  .like::before {
    background: #FF5252; /* 色 */
  }
  
  .like::after {
    background: #FF5252; /* 色 */
  }
  
  h4 {
    font-size: 1.2em;
  }

  .ect {

    margin-right: 5%;
  }

  .pics {
    height: 100%;
    width: 100%;
    margin-bottom: 10px;
  }
}