/* 各ラベルの大きさ */
p {
  font-size: 1.5em;
  margin-left: 150px;
  margin-top: 80px;
}

.plan_search{
  width: 550px;
  height: 70px;
  font-size: 1.5em;
  margin-top: 80px;
  margin-left: 200px;
  border: 2px solid;
}

/*ボタンデザイン 背景：青、文字：白*/
.button-only {
  /* ブラウザ特有のスタイルを無効に */
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  /* 整える */
  width: 400px;
  height: 150px;
  margin-bottom: 200px;
  padding: 0.6em 1em; /* 塗りの余白 */
  font-size: 3em; /* フォントサイズ */
  background-color: #1aa1ff; /* 背景色 */
  color: #FFF; /* テキストカラー */
  cursor: pointer; /* カーソルを指マークに */
  border-radius: 3px; /* 角の丸み */
  border: 0; /* 枠線を消す */
  transition: 0.3s; /* ホバーの変化を滑らかに */
}

/* ホバー時（カーソルをのせた時）の見た目 */
.button-only:hover {
  background-color: #064fda; /* 背景色 */
}

.title{
  width: 600px;
  height: 80px;
  font-size: 2em;
  padding: 0.5em;
  border: 2px solid #006DD9;
  border-radius: 5px;
  margin: 50px;
}

.cost {
  width: 200px;
  height: 40px;
  font-size: 1.5em;
  padding: 0.5em;
  border: 2px solid #006DD9;
  border-radius: 5px;
  margin: 50px;
}

.stay-from {
  width: 200px;
  height: 40px;
  font-size: 1.5em;
  padding: 0.5em;
  border: 2px solid #006DD9;
  border-radius: 5px;
  margin: 50px;
}

.stay-to {
  width: 200px;
  height: 40px;
  font-size: 1.5em;
  padding: 0.5em;
  border: 2px solid #006DD9;
  border-radius: 5px;
  margin: 50px;
}

.region-select {
  width: 200px;
  height: 60px;
  font-size: 1.2em;
  background-color: white;
  border: 2px solid #006DD9;
  border-radius: 5px;
}

.pref-select {
  width: 200px;
  height: 60px;
  font-size: 1.2em;
  background-color: white;
  border: 2px solid #006DD9;
  border-radius: 5px;
}


  /* ラジオボタン */
  input[type=radio] {
    display: none;
  }
    
  label {
    display: block; /* ブロックレベル要素化する */
    float: left; /* 要素の左寄せ・回り込を指定する */
    margin: 5px; /* ボックス外側の余白を指定する */
    width: 300px; /* ボックスの横幅を指定する */
    height: 70px; /* ボックスの高さを指定する */
    padding: 5px;
    font-size: 2em;
    color: #006DD9; /* フォントの色を指定 */
    text-align: center; /* テキストのセンタリングを指定する */
    line-height: 70px; /* 行の高さを指定する */
    cursor: pointer; /* マウスカーソルの形（リンクカーソル）を指定する */
    border: 2px solid #006DD9;/* ボックスの境界線を実線で指定する */
    border-radius: 5px; /* 角丸を指定する */
  }

  input[type="radio"]:checked + label {
    background: #006DD9;
    color: #FFF;
  }

  label:hover {
    background-color: #FFF;
  }

  .button_back {
    /* ブラウザ特有のスタイルを無効に */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
  
    /* 整える */
    display: inline;
    width: 10px;
    margin-left: 30px;
    padding: 0.6em 1em; /* 塗りの余白 */
    font-weight: bold;
    background-color: white; /* 背景色 */
    color: black; /* テキストカラー */
    cursor: pointer; /* カーソルを指マークに */
    border-radius: 3px; /* 角の丸み */
    border: 0; /* 枠線を消す */
    transition: 0.3s; /* ホバーの変化を滑らかに */
  }

  h3{
  
    font-size: 3em;
  }
  
  .button_back:hover {
    background-color: #ffffff; /* 背景色 */
  }

  .screenname{
    margin-left: 25%;
  }

  .require{
    color: red;
    font-size: 0.6em;
    font-weight: bold;
    margin-left: 5px;
    }

  .post_day{
    margin-left: 40%;
    font-size: xx-large;
  }

  .less{
    margin-top: 5%;
    margin-left: 7%;
  }