/*スマホ用*/
@media screen and (max-width:990px) {
/*ボタンデザイン 背景：青、文字：白*/
.button-only {
    /* ブラウザ特有のスタイルを無効に */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
  
    /* 整える */
    width: 400px;
    margin: 1em 0; /* 前後の隙間 */
    padding: 0.6em 1em; /* 塗りの余白 */
    font-size: 3em; /* フォントサイズ */
    background-color: #1aa1ff; /* 背景色 */
    color: #FFF; /* テキストカラー */
    cursor: pointer; /* カーソルを指マークに */
    border-radius: 3px; /* 角の丸み */
    border: 0; /* 枠線を消す */
    transition: 0.3s; /* ホバーの変化を滑らかに */
  
  }

  /* ホバー時（カーソルをのせた時）の見た目 */
.button-only:hover {
    background-color: #064fda; /* 背景色 */
  }


/*ボタンデザイン 枠線：青、背景：白、文字：黒*/
button {
    /* ブラウザ特有のスタイルを無効に */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
  
    /* 整える */
    width: 800px;
    height auto
    margin 1em 0; /* 前後の隙間 */
    padding: 0.6em 1em; /* 塗りの余白 */
    font-size: 3.2em; /* フォントサイズ */
    background-color: white; /* 背景色 */
    color: black; /* テキストカラー */
    cursor: pointer; /* カーソルを指マークに */
    border-radius: 3px; /* 角の丸み */
    border: 3; /* 枠線を消す */
    border-color: #1aa1ff;
    transition: 0.3s; /* ホバーの変化を滑らかに */
  
  }

  /* ホバー時（カーソルをのせた時）の見た目 */
button:hover {
    background-color: #064fda; /* 背景色 */
  }
}

/*パソコン用*/
@media screen and (min-width:990px) {
  /*ボタンデザイン 背景：青、文字：白*/
  .button-only {
      /* ブラウザ特有のスタイルを無効に */
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
    
      /* 整える */
      width: 200px;
      margin: 1em 0; /* 前後の隙間 */
      padding: 0.6em 1em; /* 塗りの余白 */
      font-size: 1em; /* フォントサイズ */
      background-color: #1aa1ff; /* 背景色 */
      color: #FFF; /* テキストカラー */
      cursor: pointer; /* カーソルを指マークに */
      border-radius: 3px; /* 角の丸み */
      border: 0; /* 枠線を消す */
      transition: 0.3s; /* ホバーの変化を滑らかに */
    
    }
  
    /* ホバー時（カーソルをのせた時）の見た目 */
  .button-only:hover {
      background-color: #064fda; /* 背景色 */
    }
  
  
  /*ボタンデザイン 枠線：青、背景：白、文字：黒*/
  button {
      /* ブラウザ特有のスタイルを無効に */
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
    
      /* 整える */
      width: 700px;
      height auto
      margin 1em 0; /* 前後の隙間 */
      padding: 0.6em 2em; /* 塗りの余白 */
      font-size: 1.7em; /* フォントサイズ */
      background-color: white; /* 背景色 */
      color: black; /* テキストカラー */
      cursor: pointer; /* カーソルを指マークに */
      border-radius: 3px; /* 角の丸み */
      border: 3; /* 枠線を消す */
      border-color: #1aa1ff;
      transition: 0.3s; /* ホバーの変化を滑らかに */
    
    }
  
    /* ホバー時（カーソルをのせた時）の見た目 */
  button:hover {
      background-color: #064fda; /* 背景色 */
    }
  }
