/*パソコン用*/
@media screen and (min-width:990px) {
  body {
      margin: 0;
      padding: 0;
    }
    #header {
      box-sizing: border-box;
      background: #f0f8ff;
      height: 50px;
    }
    #main {
      box-sizing: border-box;
      margin-left: 220px;
      padding: 20px 40px;
    }
    #sub {
      box-sizing: border-box;
      top: 0;
      height: 100%;
      width: 300px;
      position: fixed;
      overflow: auto;
      background: #f0f8ff;
      padding: 20px;
    }
  
    /*検索ボタン装飾　button.cssに入れるかも*/ 
  .menu-button {
    text-decoration: none; 
    color: black;
    font-weight: bold;
    font-size: 1.5em;
  }
  
  .menu-list {
    list-style:none;
      padding:0;
      margin:0;
  }
  
  .menu_img{
    width: 47px;
    height:47px;
    
  }
  
  }
  
  /*スマホ用*/
  @media screen and (max-width:990px) {
      body {
          margin: 0;
          padding: 0;
        }
  
        .menu{
          display:flex;
        }
      
        #header {
          box-sizing: border-box;
          background: #f0f8ff;
          height: 50px;
        }
      
        #main {
          box-sizing: border-box;
        }
      
        #sub {
          box-sizing: border-box;
          top: 2000px;
          height: 200px;
          width: 100%;
          position: fixed;
          overflow: auto;
          background: #f0f8ff;
        }    
      
      .menu-list {
          -moz-appearance: none;
          -webkit-appearance: none;
          appearance: none;
      
          display: inline;
          width: 100px;
          list-style:none;
          text-decoration: none; 
          background-color: #f0f8ff; /* 背景色 */
          color: black;
          font-weight: bold;
          font-size: 1.0em;
          padding:0;
          border: 0; /* 枠線を消す */
          margin-left:70px;
          text-align: center;
      }
  
      .menu_img{
        width: 100px;
        height:96px;
        
      }
  
      a{
          color: black;
          text-decoration: none; 
      }
  }